---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import Starfield from "./starfield.astro";
import { Image } from "astro:assets";
import portfolioImage from "../assets/portfolio-image.jpg";
---

<ContentSection title="About Me" id="intro">
  <!-- <Starfield/> -->
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <!-- <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
     performance meets <span class="text-primary">powerful</span> developer
    experience.
  </Fragment> -->
  <div class="lg:flex space-x-4">
    <div class="">
      <Image
      src={portfolioImage}
      width={400}
      class="rounded-md transition-all duration-300 hover:opacity-80"
      alt="portfolio Image"/>
      <!-- <img
        src="/public/portfolio-image.jpg"
        alt="portfolio image"
        width="400"
        class="rounded-md transition-all duration-300 hover:opacity-80"
      /> -->
    </div>

      <p class="max-w-xl text-center font-extrabold text-2xl">
       Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
     performance meets <span class="text-primary">powerful</span> developer
    experience.
      </p>
  </div>
</ContentSection>
